<div class="row">
    <div class="span8 offset4">
        <div class="well" id="traffic_chart_parent" ng-cloak>
            <div class="example" id="_example" style="display:none"></div>
            <a class="twitter-timeline" href="https://twitter.com/redwolfsecurity" data-widget-id="405047838670733313">News by @redwolfsecurity</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>
