<div class="well" id="timeline_parent" ng-controller="timelineCtrl">
    <input type="text" ng-model="search.$" class="input-medium search-query pull-right" placeholder="search"> 
    <table class="table table-striped" id="timeline_table">
      <thead>
        <tr> 
          <th>Timestamp</th><th>Command</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in control_log | orderBy:'timestamp_epoch_s':true | filter:search">
          <td>{{event.timestamp_epoch_s * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
          <td>{{event.command}}</td>
          <td>
              <div ng-controller="modalDemoCtrl">
                  <button class="btn" ng-click="open()">Details</button>
                  <div modal="shouldBeOpen" close="close()" options="opts">
                      <div class="modal-header">
                          <h3>Details for {{event.uri}}</h3>
                      </div>
                      <div class="modal-body">
                          <h4>Details</h4>
                          <table class="table-striped table-hover">
                              <tr ng-repeat="(key, value) in event track by $index">
                                  <td>{{key}}</td><td>{{value}}</td>
                              </tr>
                          </table>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
                      </div>
                  </div>
              </div>
         </td>
       </tr>
      </tbody>
    </table>
  </div>
</div>
